#projects .projects-container ul {
    margin: 20px auto;
}

#projects .projects-container hr {
    margin: 10px auto;
    width: 50%;
    border: 1px dashed #eee;
}

#projects .projects-container li {
    display: flex;
    flex-direction: row;
}

.projects-container li div ul li {
    margin: 0 0;
}

.projects-container li div ul li span {
    margin: 0 0;
    font-style: bold;
    font-weight: 600;
    width: 200px;
}

#projects .projects-container li .projects-info {
    flex-basis: 60%;
    font-size: 15px;
}

#projects .projects-container li .projects-info h3 {
    text-decoration: underline;
}

.project-tech-used li span {
    color:#075985;
}

#projects .projects-container li .projects-img {
    flex-basis: 40%;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    place-content: center;
}

#projects .projects-container li .projects-img img {
    height: 240px;
    width: 300px;
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
    place-self: center;
}

@media (min-width: 1200px) and (max-width: 1529px){
    #projects .projects-container li .projects-img {
        display: flex;
        flex-direction: column;
        place-content: center;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #projects .projects-container li .projects-img {
        display: flex;
        flex-direction: column;
        place-content: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #projects .projects-container > li {
        display: flex;
        flex-direction: column;
        place-content: center;
    }
    #projects .projects-container > li .projects-img {
        display: flex;
        flex-direction: column;
        place-content: center;
    }
}

@media (max-width: 767px) {
    #projects .projects-container li {
        display: flex;
        flex-direction: column;
        place-content: center;
    }

    #projects .projects-container > li .projects-img {
        display: flex;
        flex-direction: column;
        place-content: center;
    }

    #projects .projects-container li .projects-info {
        font-size: 14px;
    }
    
    .projects-container li div ul li span {
        width: 200px;
    }

    .project-links li span {
        height: 0px;
        width: 200px;
    }

    .projects-container li div ul li {
        margin: 10px 0;
    }

}